{% extends "model_page.html" %}

{% block style %}
<style>
    
    

</style>
{% endblock %}
{% block content %}

<div class="container mb-4">
    <div class="row">
        {% for p in marmita %}
        <div class="col-sm-4">
            <a href="../detail{{ p.id }}">
        <div class="col-md" >
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/media/{{p.photo}}">
                <div class="card-body">
                  <h5 class="text-center card-title">{{p.sabor}}</h5>
                  <div class="text-center">
                  <a href="#" class="btn btn-outline-success ">Selecionar</a>
                </div>
              </div>
            </a>
              </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


